/* General Classes */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #202124;
    font-family: arial, sans-serif;
    align-items: center;
}

.container {
    align-items: flex-end;
}

/* Header */

header div {
    text-align: end;
    padding: 0px 30px;
}

header div a {
    text-decoration: none;
    white-space: nowrap;
}

/* Center Section */
.center-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-logo {
    padding: 109px 0px 0px;
}

.main-logo img {
    max-height: 201px;
    max-width: 272px;
    padding-bottom: 1.5rem;
}

.main-searchbar {
    display: flex;
    border-radius: 9999px;

    border-style: solid;
    border-width: 1px;
    border-color: #dadce0;

    padding: 0.4rem;
    width: 482px;
    max-height: 46px;
}

.main-searchbar img {
    height: 24px;
}

.main-searchbar input {
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, .87);
    outline: none;
    display: flex;
    flex: 100%;
    font-size: 16px;
    word-wrap: break-word;
}

.main-searchbar img {
    height: 2rem;
}

.main-buttons {
    padding: 1rem;
    align-items: center;
}

.main-buttons button {
    background-color: #F8F9FA;
    margin: 11px 4px;
    padding: 10px 16px;

    border-radius: 4px;
    border: none;
}

.main-language a {
    padding: 0px 3px;
    text-decoration: none;
}

/* Footer */
footer {
    color: rgba(0, 0, 0, .54);
    background-color: #f2f2f2;
    bottom: 0;
    font-size: 15px;
    border-top: 1px solid #dadce0;
    text-align: left;

    position: absolute;
    width: 100%;
}

.footer-links-parent {
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.footer-links-location {
    border-bottom: 1px solid #dadce0;
    padding: 10px 10px 10px 27px;
}

.footer-links-left {
    display: flex;
    text-align: left;
}

.footer-links-right {
    display: flex;
    text-align: right;
}

footer a {
    color: #70757a;
    margin: 2px 10px 0px;

    text-decoration: none;
    white-space: nowrap;
}